.links-container {
  width: 100%;
  background-image: url("https://i.picsum.photos/id/1056/3988/2720.jpg");
  
 
}

.links-images {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 60%;
}
.links-images a {
  width: 100%;
  height: 100%;
  margin: 16% 1%;
}
.links-image {
  width: 100%;
  height: 100%;
  position: relative;

}
.links-image:hover {
 transform: scale(1.05);
transition: transform  .2s ease-in-out; 
border: 3px solid gray

}
.links-image h3 {
  position: absolute;
  top: 3%;
  left: 35%;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgb(60, 148, 57);
}
.links-images img {
  width: 100%;
  height: 100%;
  display: block;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .links-container {
    height: 600px;
  }
}
@media screen and (max-width: 600px) {
  .links-container {
    width: 100%;
    height: auto;
    margin:  0px;
  }
  .links-images {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 1% 1%;
  }
  .links-images a {
    margin: 6% 1%;
  }

  .links-image img {
    width: 90%;
  }
}
