.behandling-container {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
}
.behandling-container div {
  margin: 10px;
}
.behandling-image {
  width: 300px;
  height: 300px;
}
.behandling-description {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: -300px;
}
.behandling-image:hover {
  filter: opacity(50%);
}
.behandling-image:hover ~ .behandling-description {
  display: block;
}
