.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
li {
  list-style-type: none;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .footer-links {
    display: none;
  }
  .footer-follow {
    text-align: center;
  }
}
