.footer-container {
  
  display: flex;
  justify-content: space-between;
}
li {
  list-style-type: none;
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .footer-links {
    display: none;
  }
  .footer-follow {
    text-align: center;
  }
  .footer-container {
    margin-top: 40px;
  }
}
