body {
  margin-top: 60px;
}
.home {
  margin-top: 120px;
  text-align: center;
}

.slider {
  overflow: hidden;
}
.slide-images {
  width: 400%;
  position: relative;
  animation: 10s panel-animation infinite;
}

img {
  height: 500px;
  width: 25%;
  float: left;
}

@keyframes panel-animation {
  0% {
    left: 0px;
  }

  20% {
    left: -100%;
  }
  30% {
    left: -100%;
  }

  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }

  65% {
    left: -300%;
  }
  75% {
    left: -300%;
  }

  100% {
    left: 0px;
  }
}
