.omoss-container {
  display: flex;
}
.omoss-info {
  margin: 70px 20px;
  width: 800px;
}
.omoss-personal {
  margin-right: 25px;
  width: 100%;
}
.omoss-personal img {
  width: 70%;
}
.personal-background {
  width: 90%;
}

@media screen and (max-width: 800px) {
  .omoss-container {
    flex-direction: column-reverse;
  }
  .omoss-personal {
    margin-left: 10px;
  }
  .omoss-info {
    width: 100%;
  }
}
