.price-frame {
  margin-top: 110px;
  width: 100%;
  display: flex;
  flex-flow: row;
  background-color: rgb(241, 236, 236);
}
.price-container {
  width: 100%;
}
.table-title {
  position: absolute;
  margin-top: 12px;
  margin-left: 47%;
  color: rgb(152, 146, 165);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.price-table {
  margin-top: 50px;
  width: 90%;
  margin-left: 5%;
  min-width: 250px;
  height: 200px;
  font-size: 20px;
  border: 1px solid;
}

tr:nth-child(even) {
  background-color: rgba(204, 204, 219, 0.212);
}

@media screen and (max-width: 600px) {
  .price-frame {
    margin-top: 80px;
  }
}
