.wrap {
    width: 5%;
    margin-left: 12px;
    margin-right: 16px;
    padding-top: 5px;
    display: none;
  
  }

  .bar {
    width: 33px;
    height: 4px;
    background-color: black;
    margin: 6px 0px;
    display: block;

}
@media screen and (max-width:700px){
.wrap{
  display: block;
  cursor: pointer;
}

}