.slidebar {
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    position: fixed;
    background-color: aqua;
    height: 100%;
    z-index: 100;
}
.slidebar a{
    text-decoration: none;
}

.slidebar li{
    list-style: none;
    margin-top: 12px;
}
