
.toolbar{
    background: rgb(160, 212, 167);
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;

}
.toolbar__logo{
    margin-left: 100px;
}
.spacer{
    flex: 1;
}
.toolbar__navigation{
display: flex;
}

.toolbar__navigation-items ul{
    display: flex;
    justify-content: space-around;
}
.toolbar__navigation-items{
    margin-right: 80px;
}
.toolbar__navigation-items li{
list-style: none;
margin-left: 22px;


}
.toolbar__navigation-items a{
    text-decoration: none;
    font-size: 20px;
    }
    @media screen and (max-width:700px){
        .toolbar__navigation-items{
          display: none;
        }
        }




